<td style="width: 200px">
    <div class="player">
        <img style="width: 20px; padding-right: 5px" src="%avatar%" />
        <span>
            %name%
        </span>
    </div>
</td>
<td>
    <div class="rank">
        <img src="rank/rank_%rank_tier%.png" />
        <img src="rank/star_%rank_star%.png" />
    </div>
</td>
<td>
    <div class="heroes">

    </div>
</td>
<td>
    <p class="win-lose">
        —
    </p>
</td>
<td>
    <span class="kda"></span>
</td>
<td>
    <span class="gx-stats"></span>
</td>
<td>
    <span class="lh-dh"></span>
</td>
<td>
    <span class="d-h"></span>
</td>
<td>
    <span>Waiting for a choice...</span>
</td>